<!DOCTYPE html>
<html>
  <head>
    <title>movies-space</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css"> 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
       <header>
      <div class="heading">
        <h1 class="title">movies-space</h1>
      </div>
      
      <div class="navbar">
      <% if user_signed_in? %>
      <div class="nav-lists">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %>
      <%= link_to "投稿する", new_movie_path, class: :nav__btn %>
       </div>
      <% else %>  
      <div class="nav-lists">      
      <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
      <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
       <li>ジャンル</li>
      </ul>
      </div>
      <% end %>
      </div>
      </header> 
    <%= yield %>

  </body>
</html>
